[*.cs]

# CA2211: I campi non costanti non devono essere visibili
dotnet_diagnostic.CA2211.severity = none

# CS0649: Non è possibile assegnare un valore diverso al campo 'Graphics.cursorbytes'. Il valore predefinito è null
dotnet_diagnostic.CS0649.severity = none

# SYSLIB0014: Il tipo o il membro è obsoleto
dotnet_diagnostic.SYSLIB0014.severity = none
